{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VitalTrack</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">        
        <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'>
    </head>
    <body class="body">
        <img src="https://img.freepik.com/free-photo/sky-landscape-digital-art-style-with-planet_23-2151120833.jpg" class="back-pic">
        <div class="front-cover"></div>

        <nav class="navbar">
            <title class="nav-title">VitalTrack</title>
        </nav>

        <div class="bodypart">    
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>