{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VitalTrack</title>
        <link href="{% static 'css/login.css' %}" rel="stylesheet">        
        <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'>
    </head>
    <body class="body">
        <div class="part1">
            <img src="https://img.freepik.com/free-photo/arrangement-delicious-fresh-fruits-veggies_23-2148913346.jpg?semt=ais_hybrid" class="login_img">
        </div>
        <form class="part2" id="part2" action="POST" url="{% url 'register' %}">
            {% csrf_token %}
            <h1 class="title">VitalTrack</h1>

            <input class="input" type="text" name="email" placeholder="Enter email here">
            <input class="input" type="text" name="username" placeholder="Enter username here">
            <input class="input" type="password" name="password" placeholder="Enter password here">
            <input class="input" type="password" name="confirm" placeholder="Confirm password here">
            <input class="submit" type="submit" value="Register">
            <a class="register" href="{% url 'login' %}">Already have accont? Login now</a>
        </form>
    </body>
</html>