.category1 {
    position: relative;
    top: 0;
    left: 0;
    font-size: 4vw;
    font-family: "Itim";
    font-weight: bold;
    color: black;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.card {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    border: none;
    background-color: #ff9e7761;
    backdrop-filter: blur(30px);
    padding: 22px;
    padding-right: 0px;
    border-radius: 2vw;
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
    box-shadow: 5px 5px black 25px;
}

.cards_icons {
    position: relative;
    width: 2.5vw;
    height: 2.5vw;
    color: rgb(99, 162, 255);
    display: inline-block;
    margin: 0;
    padding: 0;
}

.card_text1 {
    position: relative;
    top: 1vw;
    left: 0;
    width: max-content;
    height: max-content;
    font-size: 1.5vw;
    font-family: "Itim";
    font-weight: normal;
    margin: 0;
    padding: 0;
    display: ruby-text;
}

.card_text2 {
    position: relative;
    top: 0;
    left: -47%;
    width: max-content;
    height: max-content;
    font-size: 2vw;
    font-family: "Itim";
    font-weight: normal;
    margin: 0;
    padding: 0;
    display: inline-block;
}