.body {
    background-color: #EEEEEE;
}

.part1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 40vw;
    height: 100vh;
}

.part2 {
    position: absolute;
    top: 0;
    left: 40vw;
    width: 60vw;
    height: 100vh;
}

.login_img {
    position: absolute;
    top: 10vh;
    left: 10vw;
    width: 30vw;
    height: 80vh;
    object-fit:contain;
}

.title {
    position: relative;
    top: 0;
    left: 0;
    width: 70%;
    height: max-content;
    margin: 0;
    padding: 0;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 5vw;
    font-family: "Itim";
    font-weight: bold;
    text-align: center;
    color: black;
}

.input {
    position: relative;
    top: 0;
    left: 0;
    width: 70%;
    height: 40px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
    border: none;
    border-radius: 0.2vw;
    background-color: azure;
    font-size: 2vw;
    font-family: "Itim";
    outline: none;
    font-weight: bold;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.input:focus {
    border: none;
    outline: none;
    background-color: rgb(211, 230, 230);
}

.submit {
    position: relative;
    top: 0;
    left: 0;
    width: 70%;
    height: 50px;
    border: none;
    border-radius: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-size: 4vw;
    font-family: "Itim";
    font-weight: bold;
    background-color: black;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
}