.body {
    background-color: #EEEEEE;
}

.back-pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.front-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(25px);
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 26vw;
    height: 100vh;
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    background-color: #ff692d61;
}

.bodypart {
    position: absolute;
    top: 0;
    left: 26vw;
    width: 74vw;
    height: 100vh;
    background-color: #ffc09e6d;
}

.nav-title {
    position: relative;
    top: 2vw;
    left: 2vw;
    width: max-content;
    height: max-content;
    padding-bottom: 2vw;
    font-size: 3vw;
    font-family: "Itim";
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: block;
}

.nav-navs {
    position: relative;
    top: 2vw;
    left: 2vw;
    width: max-content;
    height: max-content;
    font-size: 3vw;
    font-family: "Itim";
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: block;
    margin: 0;
    padding: 0;
    padding-bottom: 1vw;
}

.small-text {
    position: relative;
    top: 2.5vw;
    left: 2vw;
    width: max-content;
    height: max-content;
    font-size: 1.5vw;
    font-family: "Itim";
    font-weight: normal;
    color: rgb(128, 128, 128);
    display: block;
    margin: 0;
    padding: 0;
    padding-bottom: 1vw;
}

.end-part {
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: 15%;
    background-color: #ffffff;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

.nav-user {
    position: relative;
    top: 0;
    left: 20%;
    font-size: 2.5vw;
    font-family: "Itim";
    font-weight: bold;
}

.nav-user-pfp {
    position: relative;
    top: 0;
    left: 20%;
    width: 2.5vw;
    height: 2.5vw;
}