.body {
    background-color: #EEEEEE;
}

.back-pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.front-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(25px);
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 26vw;
    height: 100vh;
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    background-color: #ff692d61;
}

.bodypart {
    position: absolute;
    top: 0;
    left: 26vw;
    width: 74vw;
    height: 100vh;
    background-color: #ffc09e6d;
}

.nav-title {
    position: relative;
    top: 2vw;
    left: 2vw;
    width: max-content;
    height: max-content;
    padding-bottom: 2vw;
    font-size: 3vw;
    font-family: "Itim";
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: block;
}

.nav-navs {
    position: relative;
    top: 2vw;
    left: 2vw;
    width: max-content;
    height: max-content;
    font-size: 2vw;
    font-family: "Itim";
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: block;
    margin: 0;
    padding: 0;
    padding-bottom: 1vw;
}

.small-text {
    position: relative;
    top: 2.5vw;
    left: 2.5vw;
    width: max-content;
    height: max-content;
    font-size: 1.5vw;
    font-family: "Itim";
    font-weight: normal;
    color: rgb(128, 128, 128);
    display: block;
    margin: 0;
    padding: 0;
    padding-bottom: 1vw;
}

.end-part {
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: 15%;
    background-color: #ffffff;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

.end-part2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.nav-user {
    position: relative;
    top: 0;
    left: 0;
    font-size: 2.5vw;
    font-family: "Itim";
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.nav-user-pfp {
    position: relative;
    top: 0.5vw;
    left: 0;
    width: 2.5vw;
    height: 2.5vw;
    padding: 0;
    margin: 0;
}

.burger-menu {
    display: none;
}

.nav-title2 {
    display: none;
}

@media screen and (max-width: 720px) {
    .navbar {
        width: 15%;
    }

    .bodypart {
        width: 85%;
        left: 15%;
    }

    .nav-title {
        display: none;

    }
    
    .nav-navs {
        display: none;

    }
    
    .small-text {
        display: none;

    }
    
    .end-part {
        display: none;
    }
    
    .end-part2 {
        display: none;
    }
    
    .nav-user {
        display: none;
    }
    
    .nav-user-pfp {
        display: none;
    }

    .burger-menu {
        position: absolute;
        margin-top: 2vw;
        top: 0;
        left: 3.5vw;
        width: max-content;
        height: max-content;
        display: block;
    }

    .burgerstyle {
        position: relative;
        top: 0;
        left: 0;
        width: 8.5vw;
        height: 1.5vw;
        margin-top: 0.5vw;
        display: block;
        background-color: black;
    }

    .nav-title2 {
        position: absolute;
        top: 50%;
        left: -4.5vw;
        transform: translateY(-50%);
        rotate: -90deg;
        font-size: 7vw;
        font-family: "Itim";
        font-weight: bold;
        display: block;
        margin: 0;
        padding: 0;
    }
}

@keyframes open-navbar1 {
    0% {
        width: 15%;
    }

    100% {
        width: 100%;
    }
}

@keyframes hide-bodypart1 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes open-navbar2 {
    0% {
        width: 100%;
    }

    100% {
        width: 15%;
    }
}

@keyframes hide-bodypart2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes span1 {
    0% {}

    100% {
        top: 2vw;
        rotate: 45deg;
    }
}

@keyframes span2 {
    0% {}
    
    100% {
        opacity: 0;
    }
}

@keyframes span3 {
    0% {}

    100% {
        top: -2vw;
        rotate: -45deg;
    }
}

@keyframes span1end {
    0% {}

    100% {
        top: 0;
        rotate: 0deg;
    }
}

@keyframes span2end {
    0% {}
    
    100% {
        opacity: 1;
    }
}

@keyframes span3end {
    0% {}

    100% {
        top: 0;
        rotate: 0deg;
    }
}